* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    max-width: 500px;
}

.square {
    border: 1px solid black;
    padding: 5px;
}

.square:hover {
    background-color: lightgrey;
}

.square.enabled {
    background-color: black;
}