* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    margin: 10px;
    width: 760px;
}

.square {
    border: 1px solid black;
    padding: 3px;
}

.square:hover {
    background-color: yellow;
    transform: scale(1.5);
}

#reset-button {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    border-radius: 2px;
    background-color: lightblue;

}

#reset-button:hover {
    transform: scale(1.2);
}

.canvas {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}