* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    margin: 10px;
}

.square {
    border: 1px solid black;
    padding: 3px;
}

.square:hover {
    background-color: black;
}

.square.enabled {
    background-color: black;
}

#reset-button {
    margin: 10px;

}

.canvas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}